<h3>Post your Meet Up</h3>

<%authenticate!%>
<div>
  <form method="post" action="/meetups">
    <div>
      <label for="Title">Title:</label>
      <input type="text" style="color:#000;" id="title" placeholder="Title" name="title">
    </div>
    <br></br>
    <div>
      <label for="location">Location:</label>
      <input type="text" style="color:#000;" id="location" name="location" placeholder="Location">
    </div>
     <br></br>
      <div>
      <label for="topic">Topic:</label>
      <input type="text" style="color:#000;" id="topic" placeholder="Topic" name="topic">
    </div>
     <br></br>
    <div>
      <input type="submit" style="color:#000;" value="Post Meet Up">
    </div>
  </form>
</div>
<%else%>
