<h1><%"ALL THE MEET UPS!"%></h1>
<a href="/meetups/create"><%="Create Meet Up"%></a>
  <%if @all_meets.class != nil%>
    <%@all_meets.each do |meet|%>
  <ul>
        <a href="/meetups/<%=meet.id%>"><%=meet.title%></a>
        <li><%="Topic: " + meet.topic%></li>
  </ul>
      <%end%>
  <%end%>


